<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmevEndpointFacadeWsServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://umbriel-xmao:8880/SmevMessageExchangeWAR/services/SmevEndpointFacade"
                binding="basicHttpBinding" bindingConfiguration="SmevEndpointFacadeWsServiceSoapBinding"
                contract="SmevEndpointFacadeWs" name="SmevEndpointFacadeWsPort" />
        </client>
    </system.serviceModel>
</configuration>