<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmevAnswerServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8891/services/SmevAnswerService"
                binding="basicHttpBinding" bindingConfiguration="SmevAnswerServiceSoapBinding"
                contract="SmevAnswerService" name="SmevAnswerServicePort" />
        </client>
    </system.serviceModel>
</configuration>